<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
      <h1 class="text-white text-center">About Us</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure partie d'entre elles a été altérée par l'addition d'humour
        ou de mots aléatoires qui ne ressemblent pas une seconde à du texte standard. Si vous voulez utiliser un passage du Lorem Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché dans le texte. Tous les générateurs de Lorem Ipsum sur Internet tendent à reproduire le même extrait sans fin, ce qui fait de lipsum.
        com le seul vrai générateur de Lorem Ipsum. Iil utilise un dictionnaire de plus de 200 mots latins,
        en combinaison de plusieurs structures de phrases, pour générer un Lorem Ipsum irréprochable. Le Lor
        em Ipsum ainsi obtenu ne contient aucune répétition, ni ne contient des mots farfelus, ou des touches d'humour.</p>
      <div class="text-center">
      <button class="btn btn-info btn-sm mt-4 btn-them"><i class="fa-solid fa-arrow-left m-lg-2"></i> Back to Home</button>
      </div>
    </div>
  </div>
</section>
