@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$primary-color:#026467;
$secondary-color:#e5f5ea;
$body-text-color:#596392;
$navBar-footer-color:#f9f9f9;

body{
font-family: 'Roboto','sans-serif';
color:$body-text-color;
}
.site-logo{
  border-radius: 20px;
  text-decoration: none;
  color: #026467;
  padding: 5px 20px;
  background-color:#e5f5ea;
}
.nav-link{
  color: #026467;
}
