<div class="card box-shadow">
  <img
    src="https://picsum.photos/200/300.jpg"
    alt="random image" class="card-img-top card-img" height="200px">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center m-lg-3">Featured</small>
    <small class="bg-light text-info text-center m-lg-3">Views-12345</small>
    <h5 class="mt-1">HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h5>
    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. </p>
    <small class="bg-light text-warning text-center m-lg-3">LAST UPDATE-SEP 20 , 2020 </small>
  </div>
</div>
